In [2]:
import pandas as pd
df = pd.read_csv('../data/netflix_titles.csv')

## Basics

In [ ]:
# Load dataset, check shape, info, and missing values.
df.head()
# df.shape
df.info
df.isnull().sum() # Sum of all null values

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [3]:
# Find how many movies vs TV shows
df.head(10)
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [ ]:
# Count how many titles released each year
df.head()
df['release_year'].value_counts() # Each title has unique id so it automatically gives no of titles each year.

release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
        ...
1961       1
1925       1
1959       1
1966       1
1947       1
Name: count, Length: 74, dtype: int64