In [27]:
import pandas as pd 
df = pd.read_csv('../data/netflix_titles.csv')

## Intermediate

In [44]:
# Most common genres (split and count) 
df.head()
df_genre = df.copy()
genre = df_genre['listed_in'].str.split(', ')
all_genres = genre.explode()
genre_counts_total = all_genres.value_counts()
genre_counts_total

listed_in
International Movies            2752
Dramas                          2427
Comedies                        1674
International TV Shows          1351
Documentaries                    869
Action & Adventure               859
TV Dramas                        763
Independent Movies               756
Children & Family Movies         641
Romantic Movies                  616
TV Comedies                      581
Thrillers                        577
Crime TV Shows                   470
Kids' TV                         451
Docuseries                       395
Music & Musicals                 375
Romantic TV Shows                370
Horror Movies                    357
Stand-Up Comedy                  343
Reality TV                       255
British TV Shows                 253
Sci-Fi & Fantasy                 243
Sports Movies                    219
Anime Series                     176
Spanish-Language TV Shows        174
TV Action & Adventure            168
Korean TV Shows                  151
Classic Movies                   116
LGBTQ Movies                     102
TV Mysteries                      98
Science & Nature TV               92
TV Sci-Fi & Fantasy               84
TV Horror                         75
Cult Movies                       71
Anime Features                    71
Teen TV Shows                     69
Faith & Spirituality              65
TV Thrillers                      57
Movies                            57
Stand-Up Comedy & Talk Shows      56
Classic & Cult TV                 28
TV Shows                          16
Name: count, dtype: int64

In [40]:
# Top 10 directors with the most movies
topdirectors = df[df['type'] == "Movie"]['director'].value_counts().head(10)
topdirectors.head

<bound method NDFrame.head of director
Rajiv Chilaka             19
RaÃºl Campos, Jan Suter    18
Suhas Kadav               16
Marcus Raboy              15
Jay Karas                 14
Cathy Garcia-Molina       13
Martin Scorsese           12
Jay Chapman               12
Youssef Chahine           12
Steven Spielberg          11
Name: count, dtype: int64>

In [38]:
# Count how many movies per country (handle missing countries)
df['country'] = df['country'].fillna('Unknown')

movies_per_country = df[df['type'] == "Movie"]['country'].value_counts()
movies_per_country

country
United States                                             2058
India                                                      893
Unknown                                                    440
United Kingdom                                             206
Canada                                                     122
                                                          ...
Germany, Canada, United States                               1
Denmark, United Kingdom, South Africa, Sweden, Belgium       1
Serbia, South Korea, Slovenia                                1
United Kingdom, Spain, Belgium                               1
United States, Canada, Japan, Panama                         1
Name: count, Length: 652, dtype: int64